<div class="grid">
	{{#each items as |item|}}
		{{#if hasBlock}}
			{{{yield item}}}
		{{else}}
			<div class="grid-item" style="cursor: move">
				{{{item}}}
			</div>
		{{/if}}
	{{/each}}
</div>
{{yield}}
